:root {
  --bar-width: 150px;
  --field-size: 600px;
  --border: 1px solid rgb(111, 111, 111);
}

body {
  display: flex;
  height: 100vh;
}
body .left-bar {
  flex: 0.15;
  min-width: var(--bar-width);
  border: var(--border);
}
body .left-bar .port .ship {
  display: flex;
}
body .left-bar .port .ship .square {
  height: 50px;
  width: 50px;
  border: var(--border);
}
body .right-bar {
  flex: 0.85;
  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'main main main main main'
    'main main main main main'
    'footer footer footer footer footer';
}
.right-bar header {
  grid-area: header;
}
.right-bar main {
  border: var(--border);
  grid-area: main;
  display: grid;
  grid-template-areas: 'left-field left-field nav right-field right-field';
}
.right-bar footer {
  grid-area: footer;
}
.right-bar main .field {
  background: url('../src/assets/background.jpg');
  background-size: cover;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: var(--field-size);
  height: var(--field-size);
}
.right-bar main #battlefield-left {
  grid-area: left-field;
}
.right-bar main #battlefield-right {
  grid-area: right-field;
}
.field .cell {
  border: var(--border);
  cursor: pointer;
}
.disabled {
  background-color: rgba(128, 128, 128, 0.6);
  border: 1px solid gray;
}
.disabled:hover {
  cursor: not-allowed;
}
.right-bar main .interactions {
  height: var(--field-size);
  margin: auto;
  min-width: var(--bar-width);
  grid-area: nav;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.interactions #display {
  border-top: 5px solid rgb(9, 80, 9);
  border-right: 5px solid rgb(34, 196, 34);
  border-bottom: 5px solid rgb(9, 80, 9);
  border-left: 5px solid rgb(34, 196, 34);
  text-align: center;
  min-width: 400px;
}
.hidden {
  display: none;
}
